body {
    background-color: white;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171a1f;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    box-sizing: border-box;
  }
  
  .brand {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo-img {
    height: 36px;
    width: auto;
    object-fit: contain;
  }
  .brand:hover .logo-img {
    transform: scale(1.05);
    transition: transform 0.2s;
  }
    
  .navbar nav {
    display: flex;
    gap: 20px;
  }
  
  .navbar nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .navbar nav a:hover,
  .navbar nav a.active {
    color: #98db2e;
  }
  
  .header-icons {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 15px;
  }
  
  .icon-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #171a1f;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .icon-circle img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .icon-circle:hover {
    border-color: #98db2e;
  }
  
  .icon-circle:hover img {
    transform: scale(1.1);
  }
  
  .icon-circle.active {
    border-color: #98db2e;
    transform: scale(1.1);
  }
  .community-section {
    padding: 100px 20px 60px;
    text-align: center;
    background-color: #ffffff;
  }
  
  .community-heading {
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #171a1f;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
  }
  
  .icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #171a1f;
  }
  
  .icon-block img {
    width: 280px;
    height: 280px;
    background-color: #171a1f;
    border-radius: 28px;
    transition: transform 0.3s ease;
  }
  
  .icon-block img:hover {
    transform: scale(1.1);
  }
  
  .icon-block p {
    margin-top: 30px;
    font-family: 'Manrope', sans-serif;
    /* font-weight: bold; */
    font-size: 30px;
    color: #171a1f;
  } 