body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background: url('../pictures/profile-background.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
}
.profile-container {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 600px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #171a1f;
}

.profile-header {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #171a1f;
}

.profile-detail {
  /* margin-top: 30px; */
  margin-bottom: 20px;
  font-size: 18px;
}

.label {
  color: #98db2e;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.btn-logout {
  margin-top: 30px;
  padding: 10px 25px;
  font-size: 16px;
  background-color: #98db2e;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-logout:hover {
  /* background-color:white; */
  color: #354e0d;
}
